* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
}

.well {
  background: #f5f5f5;
  box-shadow: 10px 10px 10px #000;
  padding: 5px;
  text-align: center;
  font-size: 20px;
}

.btn {
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 6px 12px;
  margin-right: 10px;
}

.btn.active {
  background-color: #204d74;
  border-color: #122b40;
}

h1 {
  margin-bottom: 20px;
}

h1 a {
  text-decoration: none;
  color: #000;
}

.top-menu, .bottom-menu, .info {
  width: 500px;
  margin: 0 auto;
}

.top-menu {
  border-radius: 5px 5px 0 0;
}

.bottom-menu {
  border-radius: 0 0 5px 5px;
  margin-bottom: 20px;
}

.board {
  border-radius: 5px;
  font-size: 0;
  margin: 0 auto;
}

.cell-wrapper {
  overflow: auto;
}

.cell {
  background-color: #e3e3e3;
  border-left: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  float: left;
  height: 10px;
  width: 10px;
}

.cell.alive {
  background-color: #e44;
}

.cell.alive.young {
  background-color: #fbb;
}

.info {
  border-radius: 4px;
}


